  <div id="activities">
    <% activities.each do |activity| %>
      <% if activity.active %>
          <div class="row activity">
            <div class="columns large-8">
              <h2><%= translated_attribute activity.description %></h2>
              <span>Click on the button to track your time.</span>
            </div>
            <span class="columns large-2 button">
              <%= icon("media-play", class: "icon icon--large", aria_label: "play", role: "img") %>
            </span>
          </div>
      <% end %>
    <% end %>
</div>

<%= stylesheet_link_tag "decidim/time_tracker/time_tracker" %>
