<% if activity.answered_by? current_user %>
  <p class="pt-2"><%= t("questionnaire.answered", scope: "decidim.time_tracker.time_tracker.activity") %></p>
<% else %>
  <%= link_to task_activity_form_path(task_id: activity.task, activity_id: activity, id: activity.questionnaire), class: "comment-link pt-4" do %>
    <%= icon "chat-1-line" %> <%= t("questionnaire.respond", scope: "decidim.time_tracker.time_tracker.activity") %>
  <% end %>
<% end %>
