<div class="row column">
  <div class="callout announcement secondary">
    <span><%= t(".title") %></span>
    <p><%= t(".description") %></p>
    <%= link_to t(".answer"), assignee_data_path(id: time_tracker.assignee_questionnaire), class: "button large" %>
  </div>
</div>
