<div class="row column">
  <div class="callout announcement secondary">
    <h4><%= t(".title") %></h4>
    <p><%= t(".description") %></p>
    <%= link_to t(".answer"), assignee_questionnaire_path, class: "button large" %>
  </div>
</div>
