<div class="row column time-tracker--assignee-data">
  <div class="callout announcement primary">
    <h4><%= t(".title") %></h4>
    <p><%= t(".description") %></p>
    <div class="time-tracker--start-button-wrapper">
      <%= link_to t(".answer"), assignee_questionnaire_path, class: "button large time-tracker--start-button" %>
    </div>
  </div>
</div>
