<div class="pt-2">
  <div class="callout warning">
    <%= t ".#{activity.status}", end_date: l(activity.end_date, format: :short), start_date: l(activity.start_date, format: :short) %>
  </div>
</div>
