<div class="row column">
  <div class="callout warning">
    <%= raw t("index.account_message", scope: "decidim.components.time_tracker.views", sign_in_url: "/users/sign_in", sign_up_url: "/users/sign_up") %>
  </div>
</div>
