<div id="questionnaires">
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title">
        <%= t(".title") %>
        <div class="button--title">
          <%= export_dropdown %>
        </div>
      </h2>
    </div>

    <div class="card-section">
      <div class="container">
        <%= render partial: "decidim/time_tracker/admin/questionnaires/questionnaire", locals: {
          questionnaire: time_tracker.activity_questionnaire,
          edit_path: edit_activity_questionnaire_path,
          title: t("tasks.activity_questionnaire.title", scope: "decidim.time_tracker.admin")
        } %>
        <%= render partial: "decidim/time_tracker/admin/questionnaires/questionnaire", locals: {
          questionnaire: time_tracker.assignee_questionnaire,
          edit_path: edit_assignee_questionnaire_path,
          title: t("tasks.assignee_questionnaire.title", scope: "decidim.time_tracker.admin")
        } %>
      </div>
    </div>
  </div>
</div>
