@import "decidim/variables";

.activity--inactive{
  opacity: .5;
}

.assignee-{
  &-pending{
    .assignee--status{
      background-color: $warning;
    }
    td{
      background-color: transparentize($warning, 0.9);
    }
  }
  &-accepted{
    .assignee--status{
      background-color: $success;
    }
    td{
      background-color: transparentize($success, 0.9);
    }
  }

  &-rejected td{
    opacity: .5;
  }
}
