<%= render partial: "decidim/time_tracker/admin/breadcrumbs" %>

<%= decidim_form_for(@form, url: task_activity_assignations_path, html: { class: "form new_task_activity_assignation" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button button__sm button__secondary">
      <%= f.submit t(".create") %>
  </div>
<% end %>
